################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Debug
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Debug
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.tlb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v14/.suo
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v14/.suo
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.tlb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/.vs/50c-API/v15/.suo
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v15/Server/sqlite3/storage.ide-wal
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v15/Server/sqlite3/storage.ide-shm
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v15/Server/sqlite3/storage.ide
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v15/Server/sqlite3/db.lock
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/Debug/Sage.50c.API.Sample.csprojAssemblyReference.cache
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/Debug/Sage.50c.API.Sample.csproj.CoreCompileInputs.cache
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/Release/Sage.50c.API.Sample.csprojAssemblyReference.cache
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/Release/Sage.50c.API.Sample.csproj.CoreCompileInputs.cache
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage.50c.API.Sample.csproj.CoreCompileInputs.cache
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v15/Server/sqlite3/storage.ide-wal
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v15/Server/sqlite3/storage.ide-shm
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v15/Server/sqlite3/storage.ide
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v15/Server/sqlite3/db.lock
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v15/.suo
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/Debug/Sage.50c.Extensibility40.Sample.10.tlb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage50c.ExtenderSample.FormProps.resources
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage50c.ExtenderSample.FormItem.resources
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage.50c.Extensibility.Sample4.10.csprojAssemblyReference.cache
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage.50c.Extensibility.Sample4.10.csproj.GenerateResource.cache
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage.50c.Extensibility.Sample4.10.csproj.FileListAbsolute.txt
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Debug/Sage.50c.Extensibility.Sample4.10.csproj.CoreCompileInputs.cache
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Release/Sage.50c.Extensibility.Sample4.10.csprojAssemblyReference.cache
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/Release/Sage.50c.Extensibility.Sample4.10.csproj.CoreCompileInputs.cache
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility.Sample4.10.csproj.CoreCompileInputs.cache
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Release/Sage.50c.Extensibility.Sample4.10.csproj.CoreCompileInputs.cache
/Sage.50c.API.Sample/.vs
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v14/*.suo
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj
/.vs/ProjectSettings.json
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/XtremeTaskPanel.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/XtremeSuiteControls.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/XtremeDockingPane.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/XceedZipLib.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/VBRUN.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/VBA.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/stdole.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/Scripting.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/SageCoreUtil10.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/SageCoreSaft40.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/SageCoreComm10.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/SageCEMV15.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/Sage50c.API.Sample.pdb
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/Sage50c.API.Sample.exe.config
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/Sage50c.API.Sample.exe
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cUtil18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cUpdate18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cUIBase18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cSys18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cSAFTX18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cRV18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cQS18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cPrint18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cLocalize18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cDP18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cDL18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cData18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cCore18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cBO18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cBL18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cBase18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cAPICGCO18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cAPI18.pdb
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/S50cAPI18.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/POPLib.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/MSXML2.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/MSScriptControl.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/DartMail.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/DAO.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Release/ADODB.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/TempPE
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage50c.API.Sample.Properties.Resources.resources
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage50c.API.Sample.pdb
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage50c.API.Sample.FormTenderCheck.resources
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage50c.API.Sample.FormExternalSignature.resources
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage50c.API.Sample.fApi.resources
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage50c.API.Sample.exe
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage.50c.API.Sample.csproj.GenerateResource.cache
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage.50c.API.Sample.csproj.FileListAbsolute.txt
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage.50c.API.Sample.csproj.CopyComplete
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v16/Server/sqlite3/storage.ide-wal
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v16/Server/sqlite3/storage.ide-shm
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v16/Server/sqlite3/storage.ide
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v16/Server/sqlite3/db.lock
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v16/.suo
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Release/Sage.50c.API.Sample.csprojAssemblyReference.cache
/.vs/50c-API.git/v16/.suo
/.vs/50c-API/v16/.suo
/Sage50c.API.VendaComDoisCamposExtra/.vs/Sage50c.API.VendaComDoisCamposExtra/v16
/Sage50c.API.VendaComDoisCamposExtra/Sage50c.API.VendaComDoisCamposExtra/bin
/Sage50c.API.VendaComDoisCamposExtra/Sage50c.API.VendaComDoisCamposExtra/obj
/Sage50c.API.VendaComDoisCamposExtra/Sage50c.API.VendaComDoisCamposExtra/Sage50c.API.VendaComDoisCamposExtra.csproj.user
/Sage50c.Extensibility.Sample4/.vs/Sage.Retail.Extensibility.Sample4.16/v14
/Sage50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj
/Sage50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4.10.csproj.user
/Sage50c.Extensibility.Sample4/.vs
/Sage50c.Extensibility.Sample4/Sage50c.Extensibility.Sample/bin
/Sage50c.Extensibility.Sample4/Sage50c.Extensibility.Sample/obj
/Sage50c.API.Sample/.vs/Sage50c.API.Sample/v16
/Sage50c.API.Sample/Sage50c.API.Sample/bin/x86/Debug
/Sage50c.API.Sample/Sage50c.API.Sample/obj
