################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Debug
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Debug
