################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sage.50c.API.Sample/Sage.50c.API.Sample/bin/x86/Debug
/Sage.50c.API.Sample/Sage.50c.API.Sample/obj/x86/Debug
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.tlb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.API.Sample/.vs/Sage.50c.API.Sample/v14/.suo
/Sage.50c.Extensibility.Sample4/.vs/Sage.50c.Extensibility.Sample4.16/v14/.suo
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/bin/x86/Debug/Sage.50c.Extensibility40.Sample.10.tlb
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.dll
/Sage.50c.Extensibility.Sample4/Sage.50c.Extensibility.Sample4/obj/x86/Debug/Sage.50c.Extensibility40.Sample.10.pdb
