<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="S50cBO18" publicKeyToken="8af6bd8cf5420fe4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.0.0" newVersion="1.44.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
